# -------------------------
# Python runtime
# -------------------------
__pycache__/
*.py[cod]

# -------------------------
# Virtual environments
# -------------------------
.venv/
venv/
env/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Data files (critical)
# -------------------------
data/
*.parquet
*.csv
*.json
*.db

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Jupyter (if you actually use it)
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Airflow (important)
# -------------------------
airflow.db
airflow-webserver.pid

# -------------------------
# OS noise
# -------------------------
.DS_Store